<nav class="navigation-main">
    <ul class="primary">
        <li class="pdiscover">
            <a ui-sref="Views.Classrooms" class="lst-a myroom">
                <span class="icon"></span>
                <span class="label">My Classrooms</span>
            </a>
        </li>
        <!--<li class="pdiscover hassub active">-->
        <!--<a href="classroom.htm" class="lst-a Classrooms"><span class="icon"></span>-->
        <!--<span class="label">Classrooms</span></a>-->
        <!--<div class="sub">-->
        <!--<!--Classroom sub nav-->-->
        <!--<ul class="menu-coll">-->
        <!--<li class="sub-menu pre-contact">-->
        <!--<a href="classroom.htm">-->
        <!--<p class="submenu-heading">All<br>-->
        <!--Classroom</p>-->
        <!--</a>-->
        <!--<!--Classroom Vertical Scroller-->-->
        <!--<div class="clearfix">-->
        <!--<div class="arrow_up"><img src="images/arrow-up.png" alt="Up"/></div>-->
        <!--<div class="scroll-pane">-->
        <!--<div class="scroll-content-item"><a href="classroom-discussion.htm">-->
        <!--<div class="classouter">-->
        <!--<div class="doc-list">-->
        <!--<div class="doc-top">-->
        <!--<p class="subject">CHEMISTRY <br>-->
        <!--101</p>-->
        <!--<span>by</span>-->
        <!--<span>Shivanand Dasgupta</span>-->
        <!--<span class="totalstudent">(35 Students)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="classroom-discussion.htm">-->
        <!--<div class="classouter">-->
        <!--<div class="doc-list">-->
        <!--<div class="doc-top">-->
        <!--<p class="subject">CHEMISTRY <br>-->
        <!--101</p>-->
        <!--<span>by</span>-->
        <!--<span>Shivanand Dasgupta</span>-->
        <!--<span class="totalstudent">(35 Students)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="classroom-discussion.htm">-->
        <!--<div class="classouter">-->
        <!--<div class="doc-list">-->
        <!--<div class="doc-top">-->
        <!--<p class="subject">CHEMISTRY <br>-->
        <!--101</p>-->
        <!--<span>by</span>-->
        <!--<span>Shivanand Dasgupta</span>-->
        <!--<span class="totalstudent">(35 Students)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="classroom-discussion.htm">-->
        <!--<div class="classouter">-->
        <!--<div class="doc-list">-->
        <!--<div class="doc-top">-->
        <!--<p class="subject">CHEMISTRY <br>-->
        <!--101</p>-->
        <!--<span>by</span>-->
        <!--<span>Shivanand Dasgupta</span>-->
        <!--<span class="totalstudent">(35 Students)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="classroom-discussion.htm">-->
        <!--<div class="classouter">-->
        <!--<div class="doc-list">-->
        <!--<div class="doc-top">-->
        <!--<p class="subject">CHEMISTRY <br>-->
        <!--101</p>-->
        <!--<span>by</span>-->
        <!--<span>Shivanand Dasgupta</span>-->
        <!--<span class="totalstudent">(35 Students)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="classroom-discussion.htm">-->
        <!--<div class="classouter">-->
        <!--<div class="doc-list">-->
        <!--<div class="doc-top">-->
        <!--<p class="subject">CHEMISTRY <br>-->
        <!--101</p>-->
        <!--<span>by</span>-->
        <!--<span>Shivanand Dasgupta</span>-->
        <!--<span class="totalstudent">(35 Students)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="classroom-discussion.htm">-->
        <!--<div class="classouter">-->
        <!--<div class="doc-list">-->
        <!--<div class="doc-top">-->
        <!--<p class="subject">CHEMISTRY <br>-->
        <!--101</p>-->
        <!--<span>by</span>-->
        <!--<span>Shivanand Dasgupta</span>-->
        <!--<span class="totalstudent">(35 Students)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="classroom-discussion.htm">-->
        <!--<div class="classouter">-->
        <!--<div class="doc-list">-->
        <!--<div class="doc-top">-->
        <!--<p class="subject">CHEMISTRY <br>-->
        <!--101</p>-->
        <!--<span>by</span>-->
        <!--<span>Shivanand Dasgupta</span>-->
        <!--<span class="totalstudent">(35 Students)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="classroom-discussion.htm">-->
        <!--<div class="classouter">-->
        <!--<div class="doc-list">-->
        <!--<div class="doc-top">-->
        <!--<p class="subject">CHEMISTRY <br>-->
        <!--101</p>-->
        <!--<span>by</span>-->
        <!--<span>Shivanand Dasgupta</span>-->
        <!--<span class="totalstudent">(35 Students)</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="arrow_down"><img src="images/arrow-down.png" alt="Down"/></div>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li class="pdiscover hassub"><a href="institution.htm" class="lst-a institutionroom"><span class="icon"></span>-->
        <!--<span class="label">Institution Room</span></a>-->
        <!--<div class="sub">-->
        <!--<!--Institution sub nav-->-->
        <!--<ul class="menu-coll">-->
        <!--<li class="sub-menu pre-contact ">-->
        <!--<a href="institution.htm">-->
        <!--<p class="submenu-heading">Institution<br>-->
        <!--Room</p>-->
        <!--</a>-->
        <!--<div class="clearfix">-->
        <!--<div class="arrow_up"><img src="images/arrow-up.png" alt="Up"/></div>-->
        <!--<div class="scroll-pane">-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox">-->
        <!--<div class="inst-icon"></div>-->
        <!--<p class="ins-head">Institution Name 2</p>-->
        <!--<p class="sub-head">Department Degree</p>-->
        <!--<p class="sub-head">Diploma Semester</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox">-->
        <!--<div class="inst-icon"></div>-->
        <!--<p class="ins-head">Institution Name 2</p>-->
        <!--<p class="sub-head">Department Degree</p>-->
        <!--<p class="sub-head">Diploma Semester</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox">-->
        <!--<div class="inst-icon"></div>-->
        <!--<p class="ins-head">Institution Name 2</p>-->
        <!--<p class="sub-head">Department Degree</p>-->
        <!--<p class="sub-head">Diploma Semester</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox">-->
        <!--<div class="inst-icon"></div>-->
        <!--<p class="ins-head">Institution Name 2</p>-->
        <!--<p class="sub-head">Department Degree</p>-->
        <!--<p class="sub-head">Diploma Semester</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox">-->
        <!--<div class="inst-icon"></div>-->
        <!--<p class="ins-head">Institution Name 2</p>-->
        <!--<p class="sub-head">Department Degree</p>-->
        <!--<p class="sub-head">Diploma Semester</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox">-->
        <!--<div class="inst-icon"></div>-->
        <!--<p class="ins-head">Institution Name 2</p>-->
        <!--<p class="sub-head">Department Degree</p>-->
        <!--<p class="sub-head">Diploma Semester</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox">-->
        <!--<div class="inst-icon"></div>-->
        <!--<p class="ins-head">Institution Name 2</p>-->
        <!--<p class="sub-head">Department Degree</p>-->
        <!--<p class="sub-head">Diploma Semester</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox">-->
        <!--<div class="inst-icon"></div>-->
        <!--<p class="ins-head">Institution Name 2</p>-->
        <!--<p class="sub-head">Department Degree</p>-->
        <!--<p class="sub-head">Diploma Semester</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox">-->
        <!--<div class="inst-icon"></div>-->
        <!--<p class="ins-head">Institution Name 2</p>-->
        <!--<p class="sub-head">Department Degree</p>-->
        <!--<p class="sub-head">Diploma Semester</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="arrow_down"><img src="images/arrow-down.png" alt="Down"/></div>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li class="pdiscover hassub">-->
        <!--<a href="group.htm" class="lst-a groups"><span class="icon"></span>-->
        <!--<span class="label">Groups</span></a>-->
        <!--<div class="sub">-->
        <!--<!--Classroom sub nav-->-->
        <!--<ul class="menu-coll">-->
        <!--<li class="sub-menu pre-contact"><a href="group.htm">-->
        <!--<p class="submenu-heading">All<br>-->
        <!--Groups</p>-->
        <!--</a>-->
        <!--<div class="clearfix">-->
        <!--<div class="arrow_up"><img src="images/arrow-up.png" alt="Up"/></div>-->
        <!--<div class="scroll-pane">-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox grp-mbox">-->
        <!--<div class="grps-icon"></div>-->
        <!--<p class="grp-head">Group 1</p>-->
        <!--<p class="grpsub-head">36</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox grp-mbox">-->
        <!--<div class="grps-icon"></div>-->
        <!--<p class="grp-head">Group 1</p>-->
        <!--<p class="grpsub-head">36</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox grp-mbox">-->
        <!--<div class="grps-icon"></div>-->
        <!--<p class="grp-head">Group 1</p>-->
        <!--<p class="grpsub-head">36</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox grp-mbox">-->
        <!--<div class="grps-icon"></div>-->
        <!--<p class="grp-head">Group 1</p>-->
        <!--<p class="grpsub-head">36</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox grp-mbox">-->
        <!--<div class="grps-icon"></div>-->
        <!--<p class="grp-head">Group 1</p>-->
        <!--<p class="grpsub-head">36</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox grp-mbox">-->
        <!--<div class="grps-icon"></div>-->
        <!--<p class="grp-head">Group 1</p>-->
        <!--<p class="grpsub-head">36</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox grp-mbox">-->
        <!--<div class="grps-icon"></div>-->
        <!--<p class="grp-head">Group 1</p>-->
        <!--<p class="grpsub-head">36</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox grp-mbox">-->
        <!--<div class="grps-icon"></div>-->
        <!--<p class="grp-head">Group 1</p>-->
        <!--<p class="grpsub-head">36</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="scroll-content-item"><a href="#">-->
        <!--<div class="inst-mbox grp-mbox">-->
        <!--<div class="grps-icon"></div>-->
        <!--<p class="grp-head">Group 1</p>-->
        <!--<p class="grpsub-head">36</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="arrow_down"><img src="images/arrow-down.png" alt="Down"/></div>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li class="pdiscover">-->
        <!--</li>-->
        <!--<li class="pdiscover">-->
        <!--<a href="my-account.htm" class="lst-a flname"><span class="icon"><img src="images/chat1.jpg" alt="fname" /></span>-->
        <!--<span class="label">first last name</span></a>-->
        <!--</li>-->
        <li>
            <!--<a href="javascript:void(0)" class="logout"><img src="images/logout.png" alt=""></a>-->
            <ul class="logout-lst">
                <li class="lastli">
                    <a ui-sref="logout">Logout</a>
                </li>
            </ul>

        </li>

    </ul>
    <!--</li>-->
    <!--</ul>-->
</nav>