<div id="create-assign" class="create-popup doc-popup" style="display: block;">
    <div class="pop-wind clearfix">
        <div class="pop-head clearfix">
            <span>Classroom Created</span>
            <a class="close-link" href="#">
                <span class="icon-cross"></span>
            </a>
        </div>
        <div class="pop-content">
            <div class="created-contt">
                <p class="created-heading">Your Class has been successfully created.</p>

                <p class="created-txt">Now make your class more engaging. Kudos for setting up the class. Have a great session this semester with
                    your students. Cheers!!</p>

                <div class="pop-close">
                    <a class="close-link sub-btn" href="#">Take me to my classrooms</a>
                </div>
            </div>
        </div>
    </div>
</div>