<!-- Learn And Share -->
<div class="section">
    <section class="learnsection box">
        <div class="sitewidth">

            <div class="meetlearninner">
                <h1>Meet.Learn.Share.</h1>
                <p>Presenting a new way of learning... where you can meet with people,
                    learn and do much more. Come join us...</p>
            </div>
            <div class="signuplogin">
                <!--<register></register>-->
                <login></login>
            </div>
        </div>
    </section>
</div>
