<div class="logoutsection clearfix">
    <div class="sitewidth">
        <div class="logoutconform">
            <h2>You are now logged out.</h2>
            <p>Thank you and have a nice day</p>
            <ul>
                <li><a ui-sref="/">Log back in</a></li>
                <li><a ui-sref="/" id="dialog-link">Go to homepage</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Help US Section -->
<!--<div class="helpussection clearfix">-->
    <!--<div class="sitewidth">-->
        <!--<div class="help-left">-->
            <!--<h2>Help us improve</h2>-->
            <!--<p>Your feedback is important for us.</p>-->
            <!--<p>Please help us improve by providing feedback</p>-->
        <!--</div>-->
        <!--<div class="help-right">-->
            <!--<div class="helptabs tabpages">-->
                <!--<ul class="clearfix">-->
                    <!--<li><a ui-sref="#askdoubts" class="tab">Ask your doubts</a></li>-->
                    <!--<li><a href="#wantnewfeature" class="tab">Want a new feature?</a></li>-->
                    <!--<li><a href="#reportissue" class="tab">Report an issue</a></li>-->
                    <!--<li><a href="#encouragingwords" class="tab">Encouraging words</a></li>-->
                <!--</ul>-->
                <!--<div class="">-->
                    <!--&lt;!&ndash; tab1 &ndash;&gt;-->
                    <!--<div id="askdoubts">-->
                        <!--<div class="commentarea clearfix">-->
                            <!--<div class="commentwrite">-->
                                <!--<textarea placeholder="Type your message here……."></textarea>-->
                            <!--</div>-->
                            <!--<div class="commentsend clearfix">-->
                                <!--<p>(10000 characters)</p>-->
                                <!--<a href="#" class="submit-button">Submit</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->