<section class="rightwrapper">
    <section class="pagesubnav">
        <div class="clearfix">
            <ul class="left-subnav clearfix">
                <li>
                    <a ui-sref="login.classrooms.announcements" class="active">Announcements</a>
                    <a ui-sref="login.classrooms.people">People</a>
                    <a ui-sref="login.classrooms.library">Library</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="pagecontent clearfix">
        <div class="library-wrapper">

        </div>
    </section>
</section>