<section class="rightwrapper">
    <section class="pagesubnav">
        <div class="clearfix">
            <ul class="left-subnav clearfix">
                <li>
                    <a ui-sref="Views.Announcements">Announcements</a>
                </li>
                <li>
                    <a ui-sref="Views.Discussions" >Discussions</a>
                </li>
                <li>
                    <a ui-sref="Views.Library" class="active">Library</a>
                </li>
                <li>
                    <a ui-sref="Views.People" >People</a>
                </li>
            </ul>
            <div class="nav-right">
                <a href="javascript:void(0)" class="sub-btn" id="dialog-link">Invite</a>
            </div>
        </div>
    </section>
    <section class="pagecontent clearfix">
    <div class="library-wrapper library">
        <div class="topbuttons">
            <a href="javascript:void(0)" class="follow" id="upload-dlink">Upload</a>
            <!--popup-->

        </div>
        <div class="clear"></div>
    <div class="attach-doc classlibrary stud-pnl">
        <div class="doc-heading clearfix">
            <input type="text" class="doc-input" value="Topic 1" maxlength="70" readonly="">
            <div class="lib-right">
                <a href="javascript:void(0)" class="lib-edit tooltip"></a>
                <a href="javascript:void(0)" class="lib-delete tooltip"></a>
                <a href="javascript:void(0)" class="lib-download tooltip"></a>
                <div class="click-lib click-icon tooltip"></div>
            </div>
        </div>
        <div class="contentblock" style="display: none;">
        <p class="classlibraryhd">Documents </p>
        <ul class="doc-list">
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <a href="http://docs.google.com/viewer?url=https%3A%2F%2Ftrello-attachments.s3.amazonaws.com%2F53511011b047829e0d3fcccc%2F53511127392e0ca05e6b1d73%2F1d1e2f919ffa598c15336e8ac3ac2c1f%2FPYOOPIL_HTML_Schedule.xlsx&amp;embedded=true?iframe=true&amp;width=100%&amp;height=100%" rel="prettyPhoto[iframes]">
                    <div class="doc-top">

                        <p>Document</p>
                        <p>Subject</p>

                    </div> </a>
                <div class="doc-end clearfix">
                    <a href="javascript:void(0)" title="dialogbox1" class="dialogbox"><img src="images/word_icon.png" class="m3-0"></a>
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <a href="javascript:void(0)" title="dialogbox1" class="dialogbox"><div class="doc-top">

                    <p>Document</p>
                    <p>Subject</p>

                </div></a>
                <div class="doc-end clearfix">
                    <a href="javascript:void(0)" title="dialogbox2" class="dialogbox"><img src="images/doc-icon.png" class="m3-0"></a>
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>

            </li>
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <a href="javascript:void(0)" title="dialogbox3" class="dialogbox"><div class="doc-top">

                    <p>Document</p>
                    <p>Subject</p>

                </div></a>
                <div class="doc-end clearfix">
                    <a href="javascript:void(0)" title="dialogbox1" class="dialogbox"><img src="images/doc-icon.png" class="m3-0"></a>
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>

            </li>
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <a href="javascript:void(0)" title="dialogbox1" class="dialogbox"><div class="doc-top">

                    <p>Document</p>
                    <p>Subject</p>

                </div></a>
                <div class="doc-end clearfix">
                    <a href="javascript:void(0)" title="dialogbox1" class="dialogbox"><img src="images/doc-icon.png" class="m3-0"></a>
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>
            </li>
        </ul>
        <p class="classlibraryhd">Pictures</p>
        <ul class="doc-list imglist">
            <li>
                <div class="img-wrapper">
                    <a href="javascript:void(0)" class="del-lib"></a>
                    <a href="images/classroom/big.png" rel="prettyPhoto[pp_gal]">
                        <img src="images/classroom/big.png">
                        <div class="piccaption clearfix">Posted <br>
                            08.02.13</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="img-wrapper">
                    <a href="javascript:void(0)" class="del-lib"></a>
                    <a href="images/classroom/library-img2.jpg" rel="prettyPhoto[pp_gal]">
                        <img src="images/classroom/library-img2.jpg">
                        <div class="piccaption clearfix">Posted <br>
                            08.02.13</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="img-wrapper">
                    <a href="javascript:void(0)" class="del-lib"></a>
                    <a href="images/classroom/library-img3.jpg" rel="prettyPhoto[pp_gal]">
                        <img src="images/classroom/library-img3.jpg">
                        <div class="piccaption clearfix">Posted <br>
                            08.02.13</div>
                    </a>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <a href="images/classroom/library-img4.jpg" rel="prettyPhoto[pp_gal]">
                    <img src="images/classroom/library-img4.jpg">
                    <div class="piccaption clearfix">Posted <br>
                        08.02.13</div>
                </a>
            </li>
            <li>
                <div class="img-wrapper">
                    <a href="javascript:void(0)" class="del-lib"></a>
                    <a href="images/classroom/library-img5.jpg" rel="prettyPhoto[pp_gal]">
                        <img src="images/classroom/library-img5.jpg">
                        <div class="piccaption clearfix">Posted <br>
                            08.02.13</div>
                    </a>
                </div>
            </li>
        </ul>
        <p class="classlibraryhd">Presentations</p>
        <ul class="doc-list">
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <div class="doc-top">
                    <p>Document</p>
                    <p>Subject</p>
                </div>
                <div class="doc-end clearfix">
                    <img src="images/ppt_icon.png" class="m3-0">
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <div class="doc-top">
                    <p>Document</p>
                    <p>Subject</p>
                </div>
                <div class="doc-end clearfix">
                    <img src="images/ppt_icon.png" class="m3-0">
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <div class="doc-top">
                    <p>Document</p>
                    <p>Subject</p>
                </div>
                <div class="doc-end clearfix">
                    <img src="images/ppt_icon.png" class="m3-0">
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <div class="doc-top">
                    <p>Document</p>
                    <p>Subject</p>
                </div>
                <div class="doc-end clearfix">
                    <img src="images/ppt_icon.png" class="m3-0">
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>
            </li>
        </ul>
        <p class="classlibraryhd">Links</p>
        <ul class="doc-list link-lst">
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <div class="doc-top">
                    <p>Go To Link</p>
                </div>
                <div class="doc-end clearfix">
                    <img src="images/link-icon.png" class="m3-0">
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <div class="doc-top">
                    <p>Go To Link</p>
                </div>
                <div class="doc-end clearfix">
                    <img src="images/link-icon.png" class="m3-0">
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="del-lib"></a>
                <div class="doc-top">
                    <p>Go To Link</p>
                </div>
                <div class="doc-end clearfix">
                    <img src="images/link-icon.png" class="m3-0">
                    <p class="f-right">Posted<br>
                        12.08.13</p>
                </div>
            </li>
        </ul>
        <p class="classlibraryhd">Video</p>
        <ul class="doc-list imglist">
            <li>
                <div class="img-wrapper">
                    <a href="javascript:void(0)" class="del-lib"></a>
                    <a href="http://www.youtube.com/watch?v=hKC-sWjgdPA" rel="prettyPhoto[pp_gal]">
                        <img src="images/classroom/library-video1.jpg">
                        <div class="piccaption clearfix">Posted <br>
                            08.02.13</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="img-wrapper">
                    <a href="javascript:void(0)" class="del-lib"></a>
                    <a href="http://www.youtube.com/watch?v=hKC-sWjgdPA" rel="prettyPhoto[pp_gal]">
                        <img src="images/classroom/library-video2.jpg">
                        <div class="piccaption clearfix">Posted <br>
                            08.02.13</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="img-wrapper">
                    <a href="javascript:void(0)" class="del-lib"></a>
                    <a href="http://www.youtube.com/watch?v=hKC-sWjgdPA" rel="prettyPhoto[pp_gal]">
                        <img src="images/classroom/library-video3.jpg">
                        <div class="piccaption clearfix">Posted <br>
                            08.02.13</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="img-wrapper">
                    <a href="javascript:void(0)" class="del-lib"></a>
                    <a href="http://www.youtube.com/watch?v=hKC-sWjgdPA" rel="prettyPhoto[pp_gal]">
                        <img src="images/classroom/library-video4.jpg">
                        <div class="piccaption clearfix">Posted <br>
                            08.02.13</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="img-wrapper">
                    <a href="javascript:void(0)" class="del-lib"></a>
                    <a href="http://www.youtube.com/watch?v=hKC-sWjgdPA" rel="prettyPhoto[pp_gal]">
                        <img src="images/classroom/library-video5.jpg">
                        <div class="piccaption clearfix">Posted <br>
                            08.02.13</div>
                    </a>
                </div>
            </li>
        </ul>
        </div>
        </div>
    </section>
</section>