<div class="relative clearfix">
    <div class="follow-left">
        <span class="mod-icon"></span>
        <a href="javascript:void(0)">
            <img src="images/follow1.jpg" alt="" class="follow-img">
        </a>
        <span class="online"></span>Online </div>
    <div class="follow-right">
        <p class="cname">
            <a href="javascript:void(0)">{{ people.AppUser.fname }} {{ people.AppUser.lname }}</a>
        </p>
        <p class="cpost">Degree</p>
        <p class="cclg">AMC Engneering College</p>
    </div>
</div>
<div class="follow-footer">
    <a href="javascript:void(0)" class="msg-link tooltip">
        <img src="images/mail-icon.png" alt="">
    </a>
    <a href="javascript:void(0)" class="rec-link tooltip">
        <img src="images/follow-icon.png" alt="">
    </a>
</div>